@model WebMVC.ViewModels.IndexViewModel<WebMVC.Areas.Shelves.ViewModels.ShelvesViewModel>

@{
    ViewData["Title"] = "Index";
    var isOwner = User.FindFirst(ClaimTypes.NameIdentifier)?.Value == (string)ViewData["userId"];
}

<h1>Index</h1>

@if (isOwner)
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

@{
    var msg = TempData["message"] as string;
    if (!string.IsNullOrEmpty(msg))
    {
        <div class="alert alert-success">
            @msg
        </div>
    }
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Items.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.First().AccessLevel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Items.Count() > 0)
        {
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccessLevel)
                    </td>
                    <td>
                        @if (isOwner)
                        {
                            @Html.ActionLink("Edit", "Edit", new { shelfId = item.Id }) <span>|</span>

                        }

                        @Html.ActionLink("Details", "Details", new { shelfId = item.Id })

                        @if (isOwner)
                        {
                            <span>|</span>
                            @Html.ActionLink("Delete", "Delete", new { shelfId = item.Id })
                        }
                    </td>
                </tr>
            }

            <partial name="_Pagination" for="PaginationInfo" />
        }
    </tbody>
</table>
